.title-category {
  width: 70%;
  margin: 20px;
  text-align: right;
  margin-top: 40px;
}

.title-category h1 {
  padding-right: 30px;
}

.container-category {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: auto;
}

.container-previous-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .title-category h1 {
    font-size: 28px;
  }
  .container-previous-items {
    justify-content: space-around;
  }
  .title-category h1 {
    padding: 0;
  }
}
