.container-category {
  /* style qui agit sur l'ensemble de la page */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: auto;
}

.container-category .container-previous-items-center .title-category {
  /* style de la categorie */
  width: 100%;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container-category .barre-header {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.container-category .barre-header .search {
  /* composant commun qui nécessite une modif de style */
  width: auto;
}

.container-category .barre-header input {
  background-color: transparent;
  margin-left: 20px;
  height: 30px;
  margin-top: 5px;
}

.container-category .barre-header .logo-search {
  /* container qui contient le logo et la search barre */
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.container-category .barre-header button {
  height: 30px;
  margin-top: 5px;
}

.container-category .barre-header .logonav-mobile img {
  /* logo qui s'affiche uniquement en version mobile */
  height: 5vh;
  display: none;
}
.container-category .barre-header .logonav {
  display: flex;
  align-items: center;
}

.container-category .barre-header button {
  background-color: transparent;
}
.container-category .container-previous-items-center .container-previous-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 1em;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .container-category .container-previous-items-center .title-category h1 {
    font-size: 28px;
  }
  .container-category .container-previous-items-center .title-category {
    width: 98%;
  }
  .container-category
  /* grid sur 2 colonnes en version mobile */
    .container-previous-items-center
    .container-previous-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-category .barre-header {
    padding: 10px;
  }

  .container-category .barre-header .logo-search .logonav img {
    /* logo desktop masqué en version mobile */
    display: none;
  }

  .container-category .barre-header .logo-search .logonav-mobile {
    margin-top: 5px;
  }
  .container-category .barre-header .logo-search .logonav-mobile img {
    /* affichage du logo mobile en version mobile */
    display: block;
    height: 5vh;
  }
}
