.element-list {
  display: flex;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid white;
}
.infos-movie {
  width: 75%;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-movie img {
  width: 200px;
  height: 120px;
}

.title-movie {
  width: 100%;
}

.checkbox {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox p {
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox p span {
  display: inline-block;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .infos-movie .creator,
  .infos-movie .runtime,
  .infos-movie .date-release {
    display: none;
  }

  .image-movie img {
    width: 100px;
    height: 60px;
  }

  .infos-movie {
    margin-left: 20px;
  }
  .title-movie h2 {
    font-size: 26px;
  }
  .checkbox p {
    width: 25px;
    height: 25px;
  }

  .checkbox p span {
    font-size: 14px;
  }
}
