.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 50px;
  top: 0;

  .navFixe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;

    .logonav-mobile {
      display: none;
    }
    .logonav {
      display: inherit;
    }
  }
  .navunfixe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .contbuttonmylist {
      display: flex;
      flex-wrap: nowrap;

      .buttonmylist {
        font-weight: 200;
        font-size: 24px;
        padding-bottom: 1px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        margin-right: 50px;
      }
    }
  }
  .fakeBurger {
    display: none;
  }
}
.footer {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .footercategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .footeritem {
      font-size: 80px;
      font-weight: 600;

      &:hover {
        font-size: 80px;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
.home-navigation {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  .btn-navigation {
    border: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
    padding-left: 10px;

    p {
      color: #fff;
      writing-mode: vertical-rl;
      letter-spacing: 1px;
      font-weight: 300;
      transform: rotate(180deg);
      text-transform: uppercase;
      transition: 0.2s;
    }
    &:hover p {
      transform: rotate(180deg) scale(1.2);
    }
  }
  .upcoming {
    grid-row: 1 / 2;
  }
  .popular {
    grid-row: 2 / 3;
  }
  .nowplaying {
    grid-row: 3 / 4;
  }
}
.pre-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  img {
    width: 25%;
    height: auto;
    object-fit: cover;
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .home {
    .mainHome {
      height: 75vh;
      background-size: 70%;

      .navhome {
        display: none;

        .itemnavhome {
          display: none;
        }
      }
    }
  }
  .navBar {
    padding: 5%;
    gap: 20px;

    .navFixe {
      padding: 4%;

      .logonav-mobile {
        display: inherit;
      }
      .logonav {
        display: none;
      }
    }
    .navunfixe {
      .contbuttonmylist {
        display: none;
      }
      .contButtonSignIn {
        display: none;
      }
    }
    .fakeBurger {
      display: inherit;
    }
  }
  .footer {
    gap: 20px;

    .footercategory {
      gap: 20px;

      .footeritem {
        font-style: 40px;
      }
    }
  }
}
