*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #000;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
}
li,
ul,
ol {
  list-style: none;
  display: inline-block;
}
ul,
h1,
h2,
h3 {
  line-height: 1;
}
h1 {
  font-family: "Grotesk";
  letter-spacing: -0.2em;
  font-size: 120px;
  text-shadow: 0px 2px 5px #000;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
  color: #ddd;
}
a {
  text-decoration: underline;
}
.btn-common {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 8px 50px 8px 50px;
  cursor: pointer;
}
/********** button animated ************/
.btn-aperture {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 8px 50px 8px 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn-aperture:hover {
  color: #000;
}
.btn-aperture::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  display: block;
}
.btn-aperture::after {
  transition: all 0.4s ease;
}
.btn-aperture:hover::after {
  transition: all 0.75s ease-out;
}
.btn-aperture::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
}
.btn-aperture:hover::after {
  transform: scale(1, 1);
}
.btn-aperture:active {
  transform: translateY(3px);
  transition: transform 0.15s;
}
/********** search bar animated ************/
.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 250px;
  border: none;
  border-bottom: 2px solid #7e7e7e;
  border-right: none;
  padding: 0 0 0 0;
  outline: none;
  color: #7e7e7e;
  background-color: #000;
}

.searchTerm:focus {
  color: #fff;
}

.searchButton {
  border: none;
  border-bottom: 2px solid #7e7e7e;
  background: #000;
  text-align: center;
  color: #7e7e7e;
  cursor: pointer;
  padding: 0 10px 0 0;
  font-size: 18px;
}
