.preview-items {
  height: 180px;
  width: 236px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.preview-items img {
  height: 158px;
  width: 236px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.8s;
}

.preview-items .title {
  margin-top: 10px;
  display: block;
  width: 100%;
  text-align: left;
  font-family: "Lato";
}

.preview-items img:hover {
  border: 1px solid white;
  filter: blur(2px);
}

.title-for-mobile {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  font-family: "Lato";
  display: none;
}

@media screen and (max-width: 768px) {
  .preview-items {
    height: 106px;
    width: 120px;
  }
  .preview-items img {
    width: 120px;
    height: 80px;
  }
  .title-for-mobile {
    display: block;
  }
}
