.listSearch {
  width: 250px;
  height: 150px;
  color: white;
  position: absolute;
  top: 100px;
  left: 275px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  li {
    cursor: pointer;
  }
  li:hover {
    text-decoration: underline;
  }
}
