/*/////////////////////////////////////////Logo*Desktop*début///////////////////////////////////////////////*/


    .logonav{
    /* position: fixed; */
  }
  .Logo {
    height: 4vh;
    max-height: 4vh;
    
  }
  .logonav:hover {
    cursor: pointer;
    
  }
  .logo:hover {
    cursor: pointer;
    
  }

/*/////////////////////////////////////////Logo*Desktop*fin///////////////////////////////////////////////*/


/*/////////////////////////////////////////Logo*Mobile*Début///////////////////////////////////////////////*/

@media screen and (max-width: 800px) {
  
  .logonav{
  position: fixed;
}
  .Logo {
    
    height: 4vh;
    max-height: 4vh;
    margin: 2%;
  }
  .logonav:hover {
    cursor: pointer;
    
  }
  .logo:hover {
    cursor: pointer;
    
  }

  /*/////////////////////////////////////////Logo*Mobile*Fin///////////////////////////////////////////////*/
}