
.player-open{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  position: fixed; 
  background-color: rgba(0, 0, 0, 0.8);  
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(1, -0.6, 0, 1);
}
.player-close{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  position: fixed; 
  background-color: rgba(0, 0, 0, 0.8);  
  transform: scaleY(0);
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(1, -0.6, 0, 1);
  transform-origin: center;
  pointer-events: none;
} 
.container-btn-close{
  display: flex;
  flex-direction: row-reverse;
}
.btn-close{
  position: fixed;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
.container-trailer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Trailer{
 width: 90%;
height: 90%;
}
@media screen and (max-width: 500px) {
  .player-open{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.8);  
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(1, -0.6, 0, 1);
  }
  .player-close{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.8);  
    transform: scaleY(0);
    transition: transform 0.6s;
    transition-timing-function: cubic-bezier(1, -0.6, 0, 1);
    transform-origin: center;
  } 
  .container-btn-close{
    display: flex;
    flex-direction: row-reverse; 
  }
  .btn-close{
    position: fixed;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 30px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .container-trailer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Trailer{
   width: 90%;
  height: 90%;
  }
}