.player-open{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  z-index: 15;
  position: fixed; 

}

.player-close{
  display: none;
}
.container-btn-close{
  display: flex;
  flex-direction: row-reverse;
 
}
.btn-close{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 30px;
  padding-right: 50px;
  padding-top: 50px;
}
.container-trailer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Trailer{
 max-width: 100%;
 max-height: 100%;
}