/*/////////////////////////////////////////Suggestion*Desktop*Début///////////////////////////////////////////////*/

@media screen and (min-width: 800px) {
* {
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  z-index: -2;
}



 .infoFilm{
  margin-top: 5vh;
  
  width: 50vw;
  display: flex;
  flex-direction: column;
}

 .inforea{
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

 .synopsis{
  padding-left: 20px;
  padding-top: 5vh;
  width: 35vw;
}

 .redirectcat{
  
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 200;
  text-decoration: underline;
  font-style: italic;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  margin-top: 15vh;
  
  
}


 h3 {
	font-size: 20px;
  font-weight: 200;
}
 p {
	font-size: 16px;
  font-weight: 200;
	color: #ddd;
}

 .Addmylist{
  width: 30vw;
  height: auto;
  padding-top: 4vh;
  display: flex;
  align-items: center;
  gap: 10px;
 

}

 button{
  font-family: lato;
  font-size: 40px;
  font-weight: 100;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

 .infobas{
  height: auto;
  width: 40vw;
  display: flex;
  align-items: center;
  gap: 50px;
 

}

 .iconestream{
  max-height: 15px;
  gap: 10px;
}

 .availableon{
  
  padding-top: 7vh;
  
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 
  

}
 .availableonpic{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
 h4 {
	font-size: 16px;
  font-weight: 200;
}

 .pictostream{
  font-size: 13px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-right: 2px;
}

/*////////////////////////////////////
              SlidShow 
////////////////////////////////////*/

.caroussel {
  width: 50vw;
  
  
}
.suggestionInfocarou{
  
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: row;
  

}

.lecarou{
  margin-top: 5vh;
  width: 50vw;

  
}

.containerSlide{
height: 100px;
width: 500px;
margin-left: 15vh;

}

.eachSlide{
height: 270px;
}
.react-slideshow-container .default-nav {
border-radius: 0;
background-color: transparent;
width: 7vh;
height: 7vh;
}
.react-slideshow-container .default-nav:hover, .react-slideshow-container .default-nav:focus{
background-color: transparent;
width: 7vh;

}
svg{
fill: white;
width: 7vh;
height: 7vh;

}
.fleche{
display: none;
}}
@import "react-slideshow-image/dist/styles.css";


/*/////////////////////////////////////////Suggestion*Desktop*Fin///////////////////////////////////////////////*/


/*/////////////////////////////////////////Suggestion*Mobile*Début///////////////////////////////////////////////*/

@media screen and (max-width: 800px) {

  * {
    margin: 0;
    padding: 0;
  }
  body{
    position: relative;
    z-index: -2;
    
  }

  h1, .letitle {
    font-size: 60px;
    padding-top: 0;
    margin-top: 0;
    display: flex;
    justify-content: center ;
  }
  .infoFilm{
   
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  
  }
  
  .inforea{
    margin-top: 1vh;
    font-family: Lato;
    font-weight: 100;
    font-style: italic;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .synopsis{
    
    padding-top: 5vh;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .redirectcat{
    
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 200;
    text-decoration: underline;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    margin-top: 10vh;
    
    
  }
  
  h3 {
    font-size: 14px;
    font-weight: 100;
  }
  p {
    font-size: 16px;
    font-weight: 200;
    color: #ddd;
  }
  
  .Addmylist{
    width: 35vw;
    height: auto;
    padding-top: 2vh;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  button{
    font-family: lato;
    font-size: 40px;
    font-weight: 100;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
  
  .infobas{
    margin-left: 4vh;
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3vh;
    
  }
  
  .iconestream{
    max-height: 15px;
    gap: 10px;
    margin-left: 10px;
  
  }
  
  .availableon{
    
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    gap:8vw;
    
  }
  .availableonpic{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    

  }
  h4 {
    width: 30vw;
    font-size: 16px;
    font-weight: 200;
  }
  
  .pictostream{
   display: none;

   /*////////////////////////////////////
                  SlidShow 
   ////////////////////////////////////*/ 
    
  }
  .carroumobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
  
  }
  .caroussel {
    display: none;
    
    
  }
  
  .containerSlide{
    height: 100px;
    width: 500px;
    margin-left: 15vh;
    
  }
  
  .eachSlide{
    height: 270px;
  }
   .react-slideshow-container .default-nav {
    border-radius: 0;
    background-color: transparent;
    width: 7vh;
    height: 7vh;
  }
  .react-slideshow-container .default-nav:hover, .react-slideshow-container .default-nav:focus{
    background-color: transparent;
    width: 7vh;
  
  }
  svg{
    fill: white;
    width: 7vh;
    height: 7vh;
    
  }
}
@import "react-slideshow-image/dist/styles.css";
/*/////////////////////////////////////////Suggestion*Mobile*Fin///////////////////////////////////////////////*/
