* {
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  z-index: -2;
}
.Logo {
  height: 4vh;
  max-height: 4vh;
  margin: 2%;
}
.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
  gap: 50px;
}
  
.caroussel {
  width: 50vw;
  
  
}
.suggestionInfocarou{
  
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: row;
  

}

.lecarou{

  width: 50vw;
  
}

.infoFilm{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.inforea{
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.synopsis{
  padding-left: 20px;
  padding-top: 10vh;
  width: 35vw;
}

.redirectcat{
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 200;
  text-decoration: underline;
  font-style: italic;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  padding-bottom: 20px;
  
}

.background-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 30%; 
  top:0;
  left:0;
  z-index: -1;  
}
.star{
  width: 20vw;
  height: auto;
  padding-top: 100px;
  padding-left: 20px;
  
}

h3 {
	font-size: 24px;
  font-weight: 200;
}
p {
	font-size: 16px;
  font-weight: 200;
	color: #ddd;
}

.Addmylist{
  width: 20vw;
  height: auto;
  padding-top: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
 

}

button{
  font-family: lato;
  font-size: 40px;
  font-weight: 100;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.infobas{
  height: auto;
  width: 40vw;
  display: flex;
  align-items: center;
  gap: 70px;
 

}

.iconestream{
  max-height: 20px;
}

.availableon{
  
  padding-top: 100px;
  
  width: 25vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
h4 {
	font-size: 18px;
  font-weight: 200;
}

.pictostream{
  font-size: 13px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-right: 2px;
}
/*/////////////////////////////////*/
            /*Caroussel*/
/*/////////////////////////////////*/

.containerSlide{
  height: 100px;
  width: 500px;
  margin-left: 20vh;
  
}

.eachSlide{
  height: 270px;
}
 .react-slideshow-container .default-nav {
  border-radius: 0;
  background-color: transparent;
  width: 7vh;
  height: 7vh;
}
.react-slideshow-container .default-nav:hover, .react-slideshow-container .default-nav:focus{
  background-color: transparent;
  width: 7vh;

}
svg{
  fill: white;
  width: 7vh;
  height: 7vh;
  
}
@import "react-slideshow-image/dist/styles.css"
