.switchHome {
  position: fixed;
  z-index: 1;
  bottom: 50px;
  left: 50px;
  text-transform: uppercase;
  
  .btn-switch {
    background: none;
    border: none;
    cursor: pointer;

    h2 {
      color: #fff;
      letter-spacing: 2px;
      font-family: inherit;
      font-size: 32px;
      transition: 0.2s;

    }

    &:hover h2 {
      letter-spacing: 3px;
    }
  }
}

@media screen and (max-width: 500px) {.switchHome {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  left: 20px;

  .btn-switch {
    background: none;
    border: none;
    cursor: pointer;

    h2 {
      color: #fff;
      letter-spacing: 2px;
      font-family: inherit;
      font-size: 24px;
      transition: 0.2s;
    }

    &:hover h2 {
      letter-spacing: 3px;
    }
  }
}}