.termofuse {
  padding: 50px;
  h1,
  h2,
  h3,
  h4 {
    font-family: "Grotesk";
    margin-bottom: 20px;
  }
  p {
    margin: 20px;
  }
  ul {
    margin-bottom: 20px;
    display: block;
    li {
      margin: 10px;
      display: block;

      &::before {
        content: ">>";
        margin-right: 10px;
      }
    }
  }
}
